# **Importing all the essential libraries**

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv('/Users/Asus/Desktop/vehicles.csv')

# **Exploratory Data Analysis (EDA)**

In [3]:
df.sample(5)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
207052,7302796683,https://monroemi.craigslist.org/ctd/d/chesanin...,monroe,https://monroemi.craigslist.org,7995,2011.0,ford,explorer,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00S0S_3mdM8f2QvY...,WE HAVE OVER 500 VEHICLES IN STOCK! See our ...,NaN,mi,43.182400,-84.112200,2021-04-06T16:23:25-0400
23498,7302894289,https://bakersfield.craigslist.org/ctd/d/fonta...,bakersfield,https://bakersfield.craigslist.org,0,2014.0,ram,3500,NaN,NaN,...,NaN,NaN,white,https://images.craigslist.org/00f0f_8ULjfYPk29...,2014 Ram 3500 Tradesman RWD 2D Standard Cab 6...,NaN,ca,34.070311,-117.446303,2021-04-06T16:38:21-0700
348080,7309105382,https://greenville.craigslist.org/ctd/d/mini-c...,greenville / upstate,https://greenville.craigslist.org,12998,2014.0,mini,countryman,NaN,4 cylinders,...,compact,SUV,black,https://images.craigslist.org/00T0T_7vkzqMZ0iv...,2014 MINI Cooper Countryman Panoramic Sunroof ...,NaN,sc,NaN,NaN,2021-04-19T02:31:45-0400
271653,7307740558,https://ithaca.craigslist.org/cto/d/newfield-2...,ithaca,https://ithaca.craigslist.org,10500,2003.0,ford,f350 super duty,good,10 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00S0S_CNuM4h8nvn...,2003 Ford F-350 Super Duty 4x4 with a snowplow...,NaN,ny,42.362100,-76.592000,2021-04-16T11:56:03-0400
65646,7308768744,https://stockton.craigslist.org/ctd/d/san-rafa...,stockton,https://stockton.craigslist.org,37988,2016.0,rover,lr4 hse,excellent,6 cylinders,...,NaN,SUV,NaN,https://images.craigslist.org/00T0T_kijqbGVPhs...,2016 Land Rover LR4 LR 4 LR-4 HSE FOR ONLY $55...,NaN,ca,37.963201,-122.509472,2021-04-18T09:02:39-0700

In [4]:
df.shape

(426880, 26)

In [5]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

**Checking total missing values**

In [6]:
df.isna().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

# **Data Cleaning**

**Extracting important features (Feature Selection)**

In [8]:
df.drop(['id', 'url', 'region_url', 'VIN', 'image_url', 'description', 'county', 'lat', 'long', 'posting_date', 'size', 'state'], axis=1, inplace=True)

**Handling missing values**

In [9]:
df.isna().sum()/df.shape[0]*100

region           0.000000
price            0.000000
year             0.282281
manufacturer     4.133714
model            1.236179
condition       40.785232
cylinders       41.622470
fuel             0.705819
odometer         1.030735
title_status     1.930753
transmission     0.598763
drive           30.586347
type            21.752717
paint_color     30.501078
dtype: float64

**We can see that "year", "manufacturer", "model", and "odometer" column has less than 5% of null values. So we can simply drop those rows which have null values in these two columns.**

In [10]:
df = df.dropna(subset=['year', 'odometer', 'manufacturer', 'model'])

**For all the missing values in other columns, we have just converted them in to a new category, "unknown"**

In [11]:
df.fillna('unknown', inplace=True)

**Handling duplicated values**

In [12]:
df.duplicated().sum()

53043

In [13]:
df.shape

(399883, 14)

In [14]:
df = df.drop_duplicates()

In [15]:
df.shape

(346840, 14)

**Categorical data cleaning**

In [16]:
manufacturer_values = df['manufacturer'].value_counts()

In [17]:
print(manufacturer_values)

manufacturer
ford               60022
chevrolet          46111
toyota             29054
honda              18088
jeep               15913
nissan             15796
ram                14641
gmc                14283
bmw                12802
dodge              11137
mercedes-benz      10083
hyundai             8438
volkswagen          8283
subaru              8193
lexus               7138
kia                 6969
audi                6816
cadillac            5911
acura               5469
chrysler            5103
buick               4753
mazda               4702
infiniti            4319
lincoln             3764
volvo               2907
mitsubishi          2874
mini                2090
pontiac             2022
jaguar              1813
rover               1572
porsche             1179
mercury             1005
saturn               932
alfa-romeo           859
tesla                812
fiat                 699
harley-davidson      121
ferrari               69
datsun                61
aston-martin          22
land rover            15
Name: count, dtype: int64

In [18]:
df['manufacturer'] = df['manufacturer'].apply(lambda x: x if str(x) in manufacturer_values[:20] else 'others')

In [19]:
region_values = df['region'].value_counts()
df['region'] = df['region'].apply(lambda x: x if str(x) in region_values[:50] else 'others')

In [20]:
model_values = df['model'].value_counts()
df['model'] = df['model'].apply(lambda x: x if str(x) in model_values[:50] else 'others')

In [21]:
for i in df.columns:
  print(i, len(df[i].value_counts().index))

region 51
price 15274
year 107
manufacturer 21
model 51
condition 7
cylinders 9
fuel 6
odometer 101980
title_status 7
transmission 4
drive 4
type 14
paint_color 13

**Numerical Data Cleaning**

In [22]:
df.describe()

              price           year      odometer
count  3.468400e+05  346840.000000  3.468400e+05
mean   6.997499e+04    2011.526814  9.501220e+04
std    1.213391e+07       8.876408  1.848760e+05
min    0.000000e+00    1900.000000  0.000000e+00
25%    6.000000e+03    2008.000000  3.600000e+04
50%    1.458800e+04    2014.000000  8.358900e+04
75%    2.699000e+04    2017.000000  1.330000e+05
max    3.736929e+09    2022.000000  1.000000e+07

**Our dataset have lots of outliers. Outliers reduces the accuracy of a model. We have to detect outliers and remove them.**

In [23]:
price_percentile25 = df['price'].quantile(0.25)
price_percentile75 = df['price'].quantile(0.75)
price_iqr = price_percentile75 - price_percentile25

In [24]:
price_upper_limit = price_percentile75 + 1.5 * price_iqr
price_lower_limit = df['price'].quantile(0.15)

In [25]:
new_df = df[(df['price'] < price_upper_limit) & (df['price'] > price_lower_limit)]

In [26]:
print(price_upper_limit)

58475.0

In [27]:
odometer_percentile75 = df['odometer'].quantile(0.75)
odometer_percentile25 = df['odometer'].quantile(0.25)
odometer_iqr = odometer_percentile75 - odometer_percentile25
odometer_upper_limit = odometer_percentile75 + 1.5 * odometer_iqr
odometer_lower_limit = df['odometer'].quantile(0.05)

In [28]:
new_df = new_df[(new_df['odometer'] < odometer_upper_limit) & (new_df['odometer'] > odometer_lower_limit)]

In [29]:
new_df.shape

(273590, 14)

In [30]:
new_df = new_df[new_df['price'] > 0]

In [31]:
new_df.shape

(273590, 14)

# **Feature Engineering**

In [32]:
new_df.sample(5)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color
340776,others,31990,2016.0,jeep,others,good,unknown,other,43644.0,clean,other,4wd,SUV,black
158524,des moines,6495,2009.0,ford,escape,excellent,6 cylinders,gas,186831.0,clean,automatic,4wd,SUV,unknown
245754,others,12850,2017.0,toyota,others,excellent,4 cylinders,gas,94013.0,clean,automatic,fwd,sedan,grey
48442,reno / tahoe,10999,2010.0,cadillac,others,excellent,6 cylinders,gas,124230.0,clean,automatic,4wd,SUV,black
126271,others,36990,2016.0,gmc,others,good,8 cylinders,gas,23190.0,clean,other,4wd,pickup,black

In [33]:
new_df['odometer'] = new_df['odometer'].astype(int)

In [34]:
new_df['year'] = new_df['year'].astype(int)

**We can see the car data before 2000 is quiet irrelevant with our current times data. So we are extracting all the car data available after 1996**

In [36]:
new_df = new_df[new_df['year'] > 2000]
new_df.shape

(264790, 14)

In [37]:
new_df['car_age'] = 2023 - new_df['year']
new_df.drop(['year'], axis = 1, inplace = True)
new_df.describe()

               price       odometer        car_age
count  264790.000000  264790.000000  264790.000000
mean    19556.905389   90423.555625       9.066917
std     12047.429756   57070.168218       4.909724
min      3525.000000    6958.000000       0.000000
25%      8999.000000   40000.000000       5.000000
50%     16995.000000   85000.000000       8.000000
75%     27990.000000  130333.000000      12.000000
max     58448.000000  278495.000000      25.000000

In [44]:
final_df = new_df.copy()

**Creating encoder and implimenting them into pipeline**

In [45]:
from sklearn.pipeline import Pipeline

In [46]:
pipe_categorical = Pipeline(
    steps = [('ordinal_encoder', OrdinalEncoder(categories = [[ 'salvage', 'fair', 'unknown', 'good', 'excellent', 'like new', 'new']])),
             ('one_hot_encoder', OneHotEncoder(sparse = False, drop = 'first'))]
)

In [47]:
pipe_numerical = Pipeline(
    steps = [('standard_scaler', StandardScaler())]
)

In [48]:
column_transformer = ColumnTransformer(transformers = [
    ('condition_pipe_trans', pipe_categorical['ordinal_encoder'], ['condition']),
    ('categorical_pipe_trans', pipe_categorical['one_hot_encoder'], ['model', 'region', 'manufacturer', 'fuel', 'cylinders','title_status', 'transmission', 'drive', 'type', 'paint_color']),
    ('numerical_pipe_trans', pipe_numerical, ['odometer'])
])

**Train-test-split**

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(final_df.drop(['price'], axis = 1), final_df['price'], random_state = 42, test_size = .2)

In [51]:
X_train_tnf = column_transformer.fit_transform(X_train)

C:\Users\Asus\PycharmProjects\cars_prediction_project\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [52]:
X_test_tnf = column_transformer.transform(X_test)

In [53]:
print(pd.DataFrame(X_train_tnf).shape)
print(pd.DataFrame(X_test_tnf).shape)

(211832, 172)
(52958, 172)

# **Model Training**

In [54]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,  r2_score, mean_squared_log_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import warnings
warnings.filterwarnings('ignore')

In [55]:
def result(y_test, y_pred):
    r=[]
    r.append('%.4f' % r2_score(y_test,y_pred))
    r.append('%.4f' % (r2_score(y_test,y_pred)*100))
    r.append('%.2f' % mean_squared_error(y_test, y_pred))
    r.append('%.2f' % mean_absolute_error(y_test, y_pred))
    r.append('%.2f' % np.sqrt(mean_squared_error(y_test, y_pred)))
    
    return (r)

#dataframe that store the performance of each model
score_data = pd.DataFrame(index=['R2 Score', 'Accuracy(%)', 'Mean Squared Error', 'Mean Absolute Error', 'Root MSE'])

**Linear Regression**

In [56]:
LR = LinearRegression()
LR.fit(X_train_tnf, y_train)
y_pred = LR.predict(X_test_tnf)

In [57]:
R2_score = r2_score(y_test, y_pred)*100
score_lr = result(y_test, y_pred)
score_data['Linear Regression'] = score_lr
print('R2_score: ', score_lr[0])
print('Mean squared error: ', score_lr[2])
print('Mean absolute error: ', score_lr[3])
print('Root mean squared error: ', score_lr[4])

R2_score:  0.6523
Mean squared error:  50719246.91
Mean absolute error:  5399.80
Root mean squared error:  7121.74

**Random Forest Regression**

In [58]:
RFR = RandomForestRegressor(n_estimators=150,random_state=0, min_samples_leaf=1, max_features=0.3, n_jobs=-1, oob_score=True)
RFR.fit(X_train_tnf, y_train)
y_pred = RFR.predict(X_test_tnf)

In [58]:
score_rfr = result(y_test, y_pred)
score_data['Random Forest Regression'] = score_rfr
print('R2 score: ', score_rfr[0])
print('Mean squared error: ', score_rfr[2])
print('Mean absolute error: ', score_rfr[3])
print('Root mean squared error: ', score_rfr[4])

R2 score:  0.8602
Mean squared error:  20401237.57
Mean absolute error:  2607.77
Root mean squared error:  4516.77